.margin__buttom{
    margin-bottom: -120px;
}

.Aboutus{
    height: 136px;
    background-color: #2a2a2a;
    padding: 50px 0;
    
    &__pro{
        display: flex;
        align-items: center;
        justify-content:space-between ;
    }

    &__minu{
        display: flex;
        grid-gap: 25px;
        align-items: center
    }

    &__minu__link{
        @include fontAll(1rem,400,$text);
        position: relative;
        &:after{
            position: absolute;
            right: -15px;
           content: "";
           top: 8px;
           width: 6px;
           height: 6px;
           background-color: $text;
           border-radius: 50%;
        }
    }

    &__text{
        @include fontAll(1rem,400,#5c5c5c);
    }

    &__title__h2{
        @include fontAll(1.875rem,700,$link);
    }
}


@media (max-width:1220px){
    .margin__buttom {
        margin-bottom: -40px;
    }

    .About__title__data__minu{
        flex-wrap: wrap;
    }
}


@media (max-width:800px){
    .About__text{
        max-width: 100% !important;
        max-height: 100% !important;
    }

    .About__title__data__h3{
        font-size: 2rem;
    }

    .Aboutus__title__h2{
        font-size: 1.5rem;
    }
}


@media (max-width:380px){
    .Aboutus__title__h2{
        font-size: 1rem;
    }

    .Aboutus {
        height: 115px;
    }

    .About__title__data__h3{
        font-size: 1.8rem;
    }

    .Designers__cart1 {
        height: 350px !important;
    }
}