.margin__buttom{
    margin-bottom: -120px;
}

.Aboutus{
    height: 136px;
    background-color: #2a2a2a;
    padding: 50px 0;
    
    &__pro{
        display: flex;
        align-items: center;
        justify-content:space-between ;
    }

    &__minu{
        display: flex;
        grid-gap: 25px;
        align-items: center
    }

    &__minu__link{
        @include fontAll(1rem,400,$text);
        position: relative;
        &:after{
            position: absolute;
            right: -15px;
           content: "";
           top: 8px;
           width: 6px;
           height: 6px;
           background-color: $text;
           border-radius: 50%;
        }
    }

    &__text{
        @include fontAll(1rem,400,#5c5c5c);
    }

    &__title__h2{
        @include fontAll(30px,700,$link);
    }
}