@import "files/fonts";
@import "files/color";
@import "files/mixins";
@import "_AboutUs";
@import "_Blog";
@import "_Gallery";
@import "_Contact";

body {
  font-family: "Libre Franklin", sans-serif;
  background-color: $fon;
}

.container1 {
  max-width: 1170px;
  overflow: hidden;
  margin: 0 auto;
}

// header start

.header {
  width: 100%;
  height: 79.27px;

  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 30px;
  }

  &__menu__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 35px;
    @extend%transition;
    li {
      &:active a {
        color: $max;
      }
    }
  }

  &__logo {
    @include fiximg(106px, 25px, true);
  }

  &__minu__link {
    @include fontAll(16px, 700, $link);
    @extend%transition;
    &:hover {
      color: $max;
    }
    &:focus{
      color: $max;
    }
  }
}

// header end

//Fashion start

.Fashion {
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  &__top{
      width:1170px;
  }

  &__title__h6 {
    @include fontAll(16px, 700, $max);
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &__title__h1 {
    @include fontAll(60px, 700, $link);
    padding: 30px 0 10px 0;
  }

  &__text {
    @include fontAll(16px, 400, $link);
    margin-bottom: 45px;
    overflow: hidden;
    max-height: 75px;
    max-width: 442.86px;
  }

  &__link {
    @include fontAll(16px, 700, $link);
    background-color: $max;
    padding: 12px 30px 10px;
    
  }

  &__button{
    position: relative;
    height: 41px;
  }
}

//Fashion end

//About start

.About {
  display: flex;
  align-items: center;
  grid-gap: 35px;
  padding: 100px 0;

  &__logo {
    @include fiximg(555px, 418.67px, true);
    flex: 0 0 50%;
  }

  &__title__h6 {
    @include fontAll(16px, 700, $max);
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &__title__h2 {
    @include fontAll(45px, 700, $link);
    padding-top: 14px;
    padding-bottom: 10px;
  }

  &__text {
    @include fontAll(16px, 400, $text);
    margin-bottom: 37px;
    overflow: hidden;
    max-height: 230px;
    line-height: 26px;
    max-width: 535px;
  }

  &__link {
    @include fontAll(16px, 700, $link);
    background-color: $max;
    padding: 12px 30px 10px;
  }

  &__title__data__minu{
    display: flex;
    align-items: center;
    grid-gap: 45px;
    li+li{
      position: relative;
      &::after{
        content: "";
        position: absolute;
        background-color: #393939;
        height: 65px;
        top: 8px;
        width: 1px;
        right: 125px;
      }
    }
  }

  &__title__data__h3{
    @include fontAll(36px,700,$link);
    margin-bottom: 10px;
    width: 100px;
    overflow: hidden
  }

  &__title__data__h5{
    @include fontAll(16px,400,$text);
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

//About end

// Services  start

.Services {
  padding-bottom: 80px;

  &__title__h6 {
    @include fontAll(14px, 700, $max);
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 2px;
  }

  &__title__h2 {
    padding-top: 14px;
    @include fontAll(45px, 700, $link);
    text-align: center;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 70px;
  }

  &__cart {
    width: 360px;
    height: 325px;
    background-color: $cart;
    padding: 46px 50px 0;
    @extend%transition;
    &:hover {
      border-bottom: 3px solid $max;
    }
  }

  &__logo {
    @include fiximg(53px, 53px, true);
    max-width: 53px;
    margin: 0 auto;
  }

  &__cart__h4 {
    @include fontAll(22px, 700, $link);
    padding: 33px 0 25px 0;
    text-align: center;
  }

  &__cart__text {
    text-align: center;
    line-height: 26px;
    @include fontAll(16px, 400, $text);
    margin-bottom: 50px;
    overflow: hidden;
    max-height: 100px;
  }
}

// Services end

//Reality start

.Reality {
  &__pro {
    background-color: $cart;
    width: 100%;
    height: 440px;
    z-index: -1;
    position: relative;
    padding-top: 100px;
  }

  &__title__h5 {
    @include fontAll(14px, 700, $max);
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
  }

  &__title__h2 {
    @include fontAll(45px, 700, $link);
    padding-top: 14px;
    text-align: center;
  }

  &__logo1 {
    width: 785px;
    height: 786px;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
  }

  &__logo2 {
    width: 785px;
    height: 393px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  &__logo3 {
    width: 392.5px;
    height: 393px;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
  }

  &__top {
    display: grid;
    grid-gap: 0;
    grid-template-areas: "header header sidebar sidebar" "header header botom botom1";
    max-width: 1170px;
    margin-top: -150px;
  }

  &__lieft {
    grid-area: header;
    width: 785px;
    position: relative;
    height: 786px;
  }

  &__logo__hover{
    width: 150px;
    height: 66px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }

  &__logo__minu{
    display: flex;
    align-items: center;
    grid-gap: 10px;
    opacity: 0;
    transform: scale(0);
    @extend%transition;
  }

  &__logo__iconka{
    width: 66px;
    display: initial;
    text-align: center;
    height: 66px;
    border-radius: 100px;
    padding: 16px 16px 9px 16px;
    position: relative;
    background-color: $max;
    @include fontAll(26px,400,$link);
    @include fiximg(24px,26px,true);
  }

  &__right {
    grid-area: sidebar;
    position: relative;
  }

  &__botom {
    grid-area: botom;
    position: relative;
  }

  &__botom1 {
    grid-area: botom1;
    position: relative;
  }

  &__continer {
    max-width: 1570px;
    margin: 0 auto;
  }
}

.hover__link:hover .Reality__logo__minu{
  opacity: 1;
  transform: scale(1);
}

.hover__link{
  &::after{
    content: "";
    width: 100%;
    position: absolute;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
  }
}
.hover__link:hover::after{
  opacity: 1;
}

//Reality ned

//Events start

.Events {
  padding: 100px 0;

  &__cart1__title__h5 {
    @include fontAll(14px, 700, $max);
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__cart1__title__h2 {
    @include fontAll(45px, 700, $link);
    max-width: 350px;
    text-align: left;
    margin-top: 14px;
    margin-bottom: 50px;
    overflow: hidden;
    height: 105px;
  }

  &__cart1__link {
    @include fontAll(16px, 700, $link);
    background-color: $max;
    padding: 12px 30px 10px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__max__cart1 {
    max-width: 585px;
    display: flex;
    grid-gap: 30px;
  }

  &__max__title__h2 {
    @include fontAll(48px, 700, $max);
    width: 140px;
    overflow: hidden;
  }

  &__max__title__h3 {
    @include fontAll(22px, 700, $link);
    margin-bottom: 12px;
  }

  &__max__text {
    @include fontAll(16px, 400, $text);
    line-height: 26px;
    max-height: 100px;
    overflow: hidden;
  }
}

.Events__max__cart1 + .Events__max__cart1 {
  margin-top: 30px;
}

//Events end

//Padilla start

.Padilla {
  padding-bottom: 100px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 30px;
  }

  &__cart1 {
    background-color: $cart;
    width: 540px;
    height: 258px;
    padding: 60px 20px 50px 30px;
    display: flex;
    align-items: flex-start;
    grid-gap: 25px;
  }

  &__logo {
    @include fiximg(128px, 128px, true);
    flex: 0 0 26%;
    margin-top: -10px;
    img {
      border-radius: 100px;
    }
  }

  &__title__h3 {
    @include fontAll(22px, 700, $link);
    margin-bottom: 4px;
  }

  &__title__h5 {
    @include fontAll(12px, normol, $max);
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__text {
    @include fontAll(16px, 400, $text);
    margin-bottom: 15px;
    line-height: 26px;
    padding-top: 5px;
  }
}

//Padilla end

// Trends start

.Trends {
  width: 100%;
  height: 377px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 80px 0;

  &__title__h2 {
    @include fontAll(45px, 700, $link);
    margin-bottom: 20px;
    text-align: center;
  }

  &__text {
    margin-bottom: 45px;
    @include fontAll(16px, 400, $link);
    line-height: 26px;
    text-align: center;
    max-width: 950px;
    overflow: hidden;
    margin: 0 auto;
    max-height: 75px;
  }

  &__link {
    padding: 12px 30px 10px;
    @include fontAll(16px, 700, $max);
    background-color: $link;
    position: absolute;
  }

  &__button {
    max-width: 167px;
    margin: 0 auto;
    margin-top: 45px;
  }
}

// Trends end

//Designers start

.Designers {
  padding-top: 100px;
  padding-bottom: 80px;

  &__title__h5 {
    @include fontAll(14px, 700, $max);
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
  }

  &__title__h2 {
    @include fontAll(45px, 700, $link);
    margin-top: 14px;
    text-align: center;
  }

  &__cart1 {
    width: 360px;
    position: relative;
    height: 435px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 30px;
    margin-top: 60px;
  }

  &__cart1 &__hover{
  background-color: $fon;
	position: absolute;
  text-align: center;
	left: 20px;
	top: 23px;
	width: calc(100% - 40px);
	height: calc(100% - 46px);
	padding: 50px 20px 60px 20px;
	opacity: 0;
	transform: scale(0);
  @extend%transition;
  }

  &__hover__text{
    @include fontAll(16px,400,#b3b3b3);
    margin-bottom: 32px;
    line-height: 26px;
    max-height: 155px;
    overflow: hidden;
  }

  &__hover__title__h3{
    @include fontAll(22px,700,$link);
    margin-bottom: 4px;
  }

  &__hover__title__h6{
    @include fontAll(12px,400,$max);
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__hover__minu{
    display: flex;
    align-items: center;
    max-width: 202px;
    grid-gap: 10px;
    margin: 0 auto;
  }

  &__hover__text__link{
    background-color:#303030;
    font-size: 20px;
    width: 45px;
    line-height: 45px;
    height: 45px;
    padding: 12px 11px 6px 12px;
    text-align: center;
    border-radius: 100px;
  }
}

.Designers__cart1:hover .Designers__hover{
	opacity: 1;
	transform: scale(1);
}
//Designers end

// From start

.From {
  background-color: $cart;
  padding-top: 100px;
  padding-bottom: 80px;

  &__top{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-gap: 30px;
  }

  &__title__h5 {
    @include fontAll(14, 700, $max);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
  }

  &__title__h2 {
    @include fontAll(45px, 700, $link);
    margin-top: 14px;
    margin-bottom: 60px;
    text-align: center;
  }

  &__cart1 {
    width: 585px;
    height: 390px;
    background-color: $fon;
    display: flex;
    grid-gap: 25px;
    padding-right: 20px;
    align-items: center;
  }

  &__logo {
    @include fiximg(262.5px, 390px, true);
    flex: 0 0 48%;
  }

  &__ul__data {
    display: flex;
    grid-gap: 8px;
    margin-bottom: 17px;
    align-items: center;
  }

  &__li__data {
    @include fontAll(14px, 400, $max);
    svg {
      @include fiximg(13px, 14px, true);
      margin-top: 2px;
    }
  }
&__li__data1{
  @include fontAll(14px, 400, $link);
  svg {
    @include fiximg(13px, 14px, true);
    margin-top: 2px;
  }
}
  &__title__cart__link {
    @include fontAll(24px, 700, $link);
    line-height: 32px;
  }

  &__title__cart__h4 {
    margin-bottom: 42px;
    @include fontAll(16px, 400, $text);
    line-height: 26px;
    margin-top: 22px;
    max-height: 100px;
    overflow: hidden;
  }

  &__title__cart1__h4{
    margin-bottom: 42px;
    @include fontAll(16px, 400, $link);
    line-height: 26px;
    margin-top: 22px;
    max-height: 100px;
    overflow: hidden;
  }

  &__cart2__max {
    display: flex;
    align-items: center;
    grid-gap: 8px;
  }

  &__cart2__logo {
    width: 50px;
    height: 53px;
    img {
      border-radius: 50%;
    }
  }

  &__title__cart__h3 {
    @include fontAll(18px, 700, $link);
    margin-bottom: 4px;
  }

  &__title__cart__h5 {
    @include fontAll(12px, 400, $max);
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__title__cart1__h5{
    @include fontAll(12px, 400, $link);
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__title__cart__link__text{
    overflow: hidden;
    max-height: 100px;
    max-width: 240px;
  }
  &__title__cart1__link__text{
    overflow: hidden;
    max-height: 100px;
    max-width: 100%;
  }
  &__cart2{
    width: 585px;
    height: 390px;
    background-color: $max;
    display: flex;
    grid-gap: 25px;
    padding-right: 20px;
    padding: 55px 45px  55px 65px;
    align-items: center;
  }
  &__button__link{
    max-width: 175px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 20px;
  }
  &__link{
    @include fontAll(16px,700,$link);
    background-color: $cart;
    border: 2px solid $max;
    padding: 12px 30px 10px;
  }
}

// From ent


//footer start
.footer{
    height: 455px;
    padding-top: 80px;
    padding-bottom: 50px;

    &__top{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__logo{
        @include fiximg(106px,25px,true);
        margin-bottom: 30px;
    }

    &__ul__li{
        @include fontAll(16px,400,$text);
        overflow: hidden;
        max-height: 60px;
        line-height: 30px;
        max-width: 265px;
    }

    &__ul{
        margin-bottom: 12px;
    }

    &__ul__nav{
       display: flex;
       align-items: center;
       grid-gap: 10px;
    }

    &__ul__li__link{
        width: 41px;
        height: 41px;
        border-radius: 50%;
        background-color: #303030;
        @include fontAll(16px,400,$link);
        svg {
            @include fiximg(14px, 16px, true);
            margin-top: 2px;
          }
    }

    &__cart2__title__h2{
        @include fontAll(20px,700,$link);
        margin-bottom: 20px;
    }

    &__cart2__ul__link{
        @include fontAll(16px,400,$text);
        line-height: 36px;
    }

    &__cart3__txet{
        @include fontAll(18px,400,$text);
        line-height: 26px;
        margin-bottom: 15px;
        max-width: 263px;
        overflow: hidden;
        max-height: 100px;
    }

    &__cart3__input{
        @include fontAll(14px,400,$text);
        padding-left: 20px;
        padding-right: 10px;
        height: 46px;
        width: 263px;
        border: 1px solid $text;
        background-color: $fon;
        outline: none;
        margin-bottom: 10px;
        &::placeholder{
            @include fontAll(14px,400,$text);
        }
    }
    &__cart3__button{
        height: 46px;
        background-color: $max;
        width: 263px;
        @include fontAll(16,700,$link);
    }

    &__cart4__Instagram{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap:5px;
    }

    &__cart4__logo{
        @include fiximg(82.48px,82.48px,true);
    }

    &__Group{
        @include fontAll(16px,400,$text);
        margin-bottom: 15px;
        line-height: 26px;
        padding-top: 50px;
        text-align: center;
        svg {
            @include fiximg(16px, 16px, true);
            color: $max;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: -3px;
          }
    }
    &__Group__link{
        @include fontAll(16px,400,$text);
        padding-left: 5px;
        @extend%transition;
        &:hover{
            color: $max;
        }
    }
}
//footer end
